<a href="/start" class="menu-link start">Start</a> <a href="/modules" class="menu-link modules">Modules</a> <a href="/troubleshooting" class="menu-link troubleshooting">Trouble shooting</a>
<a href="/style" class="menu-link style">Style</a>

<script>
    var menuIndicator = function () {
        var parts = getUrlPaths();
        if (parts == "start") $("#menu-wrapper").find(".start").addClass("active");
        if (parts == "modules") $("#menu-wrapper").find(".modules").addClass("active");
        if (parts == "troubleshooting") $("#menu-wrapper").find(".troubleshooting").addClass("active");
        if (parts == "style") $("#menu-wrapper").find(".style").addClass("active");
    };

    var getUrlPaths = function () {
        var paths = [];
        if (window.location.pathname !== "/") {
            var parts = window.location.pathname.split('/');
            for (var i = 1; i < parts.length; i++) {
                paths.push(parts[i]);
            }
        }
        return paths;
    };

    $( document ).ready(function() {
        menuIndicator();
    });
</script>