/*

    Move these 4 templates to showproduct.htm

*/
<div id="rw_shuffled_toplist" style="display:none">
    <div class="releware-recommendation-wrapper">
        <div class="releware-recommendation-header">
            <h3>%recommendation_type_title%</h3>
        </div>
        <ul class="releware-recommendation-body resetfloat" data-equalizer="shuffled_toplist">
            <li class="RWItemTemplate">
                <div class="product-outer-wrapper">
                    <article class="product-wrapper releware-item">
                        <div class="product-image">
                            <a href="%url%"><img class="RWThumbnail" onload="adjustImageSize();"/></a>
                        </div>
                        <div class="product-buttons">
                            <a class="button-info" href="%url%"><span>Mer info</span></a>
                        </div>
                        <div class="product-info">
                            <div class="product-name" data-equalizer-watch="shuffled_toplist">
                                <h3><a href="%url%">%title-raw%</a></h3>
                            </div>
                            <!--
                            <div class="product-list-article-number">
                                <span>%sku%</span>
                            </div>
                            -->
                            <div class="product-price">
                                <div class="price-standard">
                                    <span class="price-amount"><a href="%url%">%current_price%</a></span>
                                </div>
                            </div>
                            <!--
                            <div class="product-list-description">
                                %description%
                            </div>
                            -->
                        </div>
                    </article>
                </div>
            </li>
        </ul>
    </div>
</div>

<div id="rw_viewed_this_also_viewed" style="display:none">
    <div class="releware-recommendation-wrapper">
        <div class="releware-recommendation-header">
            <h3>%recommendation_type_title%</h3>
        </div>
        <ul class="releware-recommendation-body resetfloat" data-equalizer="viewed_this_also_viewed">
            <li class="RWItemTemplate">
                <div class="product-outer-wrapper">
                    <article class="product-wrapper releware-item">
                        <div class="product-image">
                            <a href="%url%"><img class="RWThumbnail" onload="adjustImageSize();"/></a>
                        </div>
                        <div class="product-buttons">
                            <a class="button-info" href="%url%"><span>Mer info</span></a>
                        </div>
                        <div class="product-info">
                            <div class="product-name" data-equalizer-watch="viewed_this_also_viewed">
                                <h3><a href="%url%">%title-raw%</a></h3>
                            </div>
                            <!--
                            <div class="product-list-article-number">
                                <span>%sku%</span>
                            </div>
                            -->
                            <div class="product-price">
                                <div class="price-standard">
                                    <span class="price-amount"><a href="%url%">%current_price%</a></span>
                                </div>
                            </div>
                            <!--
                            <div class="product-list-description">
                                %description%
                            </div>
                            -->
                        </div>
                    </article>
                </div>
            </li>
        </ul>
    </div>
</div>

<div id="rw_bought_this_also_bought" style="display:none">
    <div class="releware-recommendation-wrapper">
        <div class="releware-recommendation-header">
            <h3>%recommendation_type_title%</h3>
        </div>
        <ul class="releware-recommendation-body resetfloat" data-equalizer="bought_this_also_bough">
            <li class="RWItemTemplate">
                <div class="product-outer-wrapper">
                    <article class="product-wrapper releware-item">
                        <div class="product-image">
                            <a href="%url%"><img class="RWThumbnail" onload="adjustImageSize();"/></a>
                        </div>
                        <div class="product-buttons">
                            <a class="button-info" href="%url%"><span>Mer info</span></a>
                        </div>
                        <div class="product-info">
                            <div class="product-name" data-equalizer-watch="bought_this_also_bough">
                                <h3><a href="%url%">%title-raw%</a></h3>
                            </div>
                            <!--
                            <div class="product-list-article-number">
                                <span>%sku%</span>
                            </div>
                            -->
                            <div class="product-price">
                                <div class="price-standard">
                                    <span class="price-amount"><a href="%url%">%current_price%</a></span>
                                </div>
                            </div>
                            <!--
                            <div class="product-list-description">
                                %description%
                            </div>
                            -->
                        </div>
                    </article>
                </div>
            </li>
        </ul>
    </div>
</div>

<div id="rw_viewed_clicktrail_also_viewed" style="display:none">
    <div class="releware-recommendation-wrapper">
        <div class="releware-recommendation-header">
            <h3>%recommendation_type_title%</h3>
        </div>
        <ul class="releware-recommendation-body resetfloat" data-equalizer>
            <li class="RWItemTemplate">
                <div class="product-outer-wrapper">
                    <article class="product-wrapper releware-item">
                        <div class="product-image">
                            <a href="%url%"><img class="RWThumbnail" onload="adjustImageSize();"/></a>
                        </div>
                        <div class="product-buttons">
                            <a class="button-info" href="%url%"><span>Mer info</span></a>
                        </div>
                        <div class="product-info">
                            <div class="product-name" data-equalizer-watch>
                                <h3><a href="%url%">%title-raw%</a></h3>
                            </div>
                            <!--
                            <div class="product-list-article-number">
                                <span>%sku%</span>
                            </div>
                            -->
                            <div class="product-price">
                                <div class="price-standard">
                                    <span class="price-amount"><a href="%url%">%current_price%</a></span>
                                </div>
                            </div>
                            <!--
                            <div class="product-list-description">
                                %description%
                            </div>
                            -->
                        </div>
                    </article>
                </div>
            </li>
        </ul>
    </div>
</div>

