<div class="tab-item tab-yotpo-review">
    <h2 class="tab-item-header">{{translate "reviews"}}</h2>
    <div class="yotpo yotpo-main-widget"
         data-product-id="{{id}}"
         data-name="{{name}}"
         data-url="{{pageUrl}}"
         data-image-url="{{imageUrl}}"
         data-description="{{description}}">
    </div>
</div>