<j:PageSettings LeftAreaRenderMode="Exclude" DisplayRightArea="False"/>
<j:pageheader/>
<j:jsds_lp/>
<section class="category-page-wrapper">
    <!--
        <flow:CategoryFilterControl runat="server">
            <Template>
                <div class="filter-control-body">
                    <div class="filter-control-header">
                        <j:CategoryFilterHeader/>
                        <span class="clear-filters">
                            <j:CategoryFilterClearImage/>
                        </span>
                    </div>
                    <j:CategoryFilterList />
                </div>
            </Template>
        </flow:CategoryFilterControl>
    
        <flow:SortControl runat="server" />
    -->
    <j:productlist DisplayMode="list" uselistpagingcontrol="True" DescriptionType="Short" DisplayDescriptionInList="False" usecategoryheader="true" DisplayArticleNumber="False" ProductRestImageSize="Medium">
        <Template>
            <j:ProductListBegin/>
            <article class="product-wrapper">
                <j:ProductListImage/>
                <div class="product-buttons">
                    <j:ProductListButtons/>
                </div>
                <div class="product-info">
                    <j:ProductListName/>
                    <j:ProductListArticleNumber/>
                    <j:ProductListPrice/>
                    <J:ProductListDescription/>
                </div>
            </article>
            <j:ProductListEnd/>
        </Template>
    </j:productlist>

</section>
<j:pagefooter/>
